.person {
    border: 2px solid black;
    font-size: 24px;
    background-color: azure;
    width: fit-content;
    margin: 100px auto;
    padding: 1rem;
    box-shadow: 5px 5px 10px gray;
    border-radius: 1rem;
}